*.pyc
*.pyo
*.mo
*.db
db.sqlite3
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.git
.gitignore
.sass-cache
.vagrant/
__pycache__/
__pycache__
dist
docs
.env
env
venv/
logs
src/{{ project_name }}/settings/local.py
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile
