PYTHONUNBUFFERED=1

APP_SECRET_KEY="django-insecure-12345678901234567890123456789012345678901234567890"
APP_LANG_CODE=pt-br
APP_TIMEZONE=America/Sao_Paulo
APP_USE_TIMEZONE=true
APP_DEBUG=true
APP_ALLOWED_HOSTS='localhost'

APP_DB_HOST=db
APP_DB_PORT=27017
APP_DB_DATABASE=dungeon-db
APP_DB_USER=root
APP_DB_PASSWORD="use_uma_senha_decente_por_favor"
APP_DB_URL=mongodb://${APP_DB_USER}:${APP_DB_PASSWORD}@${APP_DB_HOST}:${APP_DB_PORT}/

MONGO_INITDB_ROOT_USERNAME=$APP_DB_USER
MONGO_INITDB_ROOT_PASSWORD=$APP_DB_PASSWORD
MONGO_INITDB_DATABASE=$APP_DB_DATABASE
